@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);
/*
	Nome do projecto
	Author: Sérgio António
	Version: 0.0.1
*/
/*Base - Base style | variables | mixns | etc */
/* line 6, ../sass/base/_normalize.scss */
.nav-pills > li > a.active,
.nav-pills > li > a.active:hover,
.nav-pills > li > a.active:focus {
  color: #FFF;
  background-color: #337AB7;
}

/* line 11, ../sass/base/_normalize.scss */
.header-content {
  width: 100%;
  height: 250px;
  background-image: transparent;
  /*background-color: $third-color;*/
  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);*/
}

@keyframes fadeIn {
  /* line 20, ../sass/base/_normalize.scss */
  to {
    opacity: 1;
  }
}

/* line 25, ../sass/base/_normalize.scss */
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn .50s ease-in 1 forwards;
  -moz-animation: fadeIn .50s ease-in 1 forwards;
  -o-animation: fadeIn .50s ease-in 1 forwards;
  animation: fadeIn .50s ease-in 1 forwards;
}

/* line 34, ../sass/base/_normalize.scss */
.is-paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* line 1, ../sass/base/_base.scss */
html {
  height: 100%;
}
/* line 4, ../sass/base/_base.scss */
html > body {
  position: relative;
  height: 100%;
  min-width: 100%;
  font-family: 'Cutive Mono';
}
/* line 10, ../sass/base/_base.scss */
html > body h1 {
  font-family: 'Anonymous Pro' !important;
}
/* line 13, ../sass/base/_base.scss */
html > body h2, html > body h3, html > body h4, html > body h5, html > body h6 {
  font-family: 'Cutive Mono' !important;
  font-weight: bold;
  font-weight: 500px;
}
/* line 19, ../sass/base/_base.scss */
html > body > .bg-web {
  min-width: 100%;
  position: fixed;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/bg1.jpg");
  min-height: 100%;
  background-position: center top;
  background-size: cover;
  /*filter: blur(2px);*/
}
/* line 32, ../sass/base/_base.scss */
html > body .screen-landscape {
  display: none;
}
/* line 36, ../sass/base/_base.scss */
html > body .container-web {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 0;
  margin: 0;
  /*background-color: rgba(179,179,179,.8);*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 15, ../sass/vendors/bootstrap/bootstrap/mixins/_clearfix.scss */
html > body .container-web:before, html > body .container-web:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/vendors/bootstrap/bootstrap/mixins/_clearfix.scss */
html > body .container-web:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 36, ../sass/base/_base.scss */
  html > body .container-web {
    float: left;
    width: 100%;
  }
}
@media (max-width: 991px) and (orientation: landscape) {
  /* line 60, ../sass/base/_base.scss */
  html > body > .screen-landscape {
    display: block;
    position: relative;
    z-index: 2;
    color: #b3b3b3;
    width: 80%;
    margin: 0 auto 0 auto;
    padding-top: 20%;
  }
  /* line 69, ../sass/base/_base.scss */
  html > body > .screen-landscape > h1 {
    font-size: 2em;
  }
  /* line 72, ../sass/base/_base.scss */
  html > body > .screen-landscape > h2 {
    font-size: 1.5em;
  }
  /* line 77, ../sass/base/_base.scss */
  html > body > .container-web {
    display: none;
  }
}

/* Modules - Individual site components */
/* Layout - Page layout style */
/* ===========================
--- Intro HEADER
============================ */
/* line 8, ../sass/layout/_header.scss */
body > container > row > .nav-content {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 2, ../sass/layout/_nav.scss */
.my-menu {
  float: left;
  position: fixed;
  height: 100%;
  width: 50px;
  padding: 0;
  background-color: #b3b3b3;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0);
  z-index: 4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  /* line 2, ../sass/layout/_nav.scss */
  .my-menu {
    width: 250px;
  }
}
/* line 25, ../sass/layout/_nav.scss */
.my-menu > .nav-logo {
  width: 0;
  height: 0;
  text-indent: -666em;
  color: #b3b3b3;
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 25, ../sass/layout/_nav.scss */
  .my-menu > .nav-logo {
    width: 970px;
    width: 100%;
    min-width: 250px;
    height: 250px;
    background-color: #1e1e1e;
    padding-top: 80px;
    padding-bottom: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  /* line 47, ../sass/layout/_nav.scss */
  .my-menu > .nav-logo > h1 {
    text-align: right;
    font-size: 45px;
    margin: 0 10px;
  }
  /* line 53, ../sass/layout/_nav.scss */
  .my-menu > .nav-logo > h2 {
    text-align: right;
    font-size: 15px;
    padding: 0	0;
    margin: 0 10px;
  }
}
/* line 62, ../sass/layout/_nav.scss */
.my-menu > .nav-body {
  flex: 1 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
/* line 68, ../sass/layout/_nav.scss */
.my-menu > .nav-body a {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding-left: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
  /*justify-content: center;*/
  align-items: center;
  text-decoration: none;
  color: #337ab7;
}
/* line 82, ../sass/layout/_nav.scss */
.my-menu > .nav-body a i {
  padding-right: 15px;
}

/* line 1, ../sass/layout/_content-web.scss */
.content-web {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 3;
  float: left;
  padding-right: 0;
  padding-left: 50px;
  height: 100%;
  color: #b3b3b3;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/layout/_content-web.scss */
  .content-web {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/layout/_content-web.scss */
  .content-web {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_content-web.scss */
  .content-web {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/layout/_content-web.scss */
  .content-web {
    padding-left: 250px;
  }
}
/* line 18, ../sass/layout/_content-web.scss */
.content-web section {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  /*background-color: rgba($second-color,.8)!important;*/
  /*header blue equal all pages*/
}
@media (min-width: 1200px) {
  /* line 18, ../sass/layout/_content-web.scss */
  .content-web section {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 18, ../sass/layout/_content-web.scss */
  .content-web section {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 18, ../sass/layout/_content-web.scss */
  .content-web section {
    float: left;
    width: 100%;
  }
}
/* line 30, ../sass/layout/_content-web.scss */
.content-web section > header {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  /*box-shadow: 0px 5px 15px rgba(0, 0, 0,.2);*/
}
@media (min-width: 1200px) {
  /* line 30, ../sass/layout/_content-web.scss */
  .content-web section > header {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 30, ../sass/layout/_content-web.scss */
  .content-web section > header {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 30, ../sass/layout/_content-web.scss */
  .content-web section > header {
    float: left;
    width: 100%;
  }
}
/* line 39, ../sass/layout/_content-web.scss */
.content-web section > header > h1 {
  font-size: 2.75em;
  bottom: 1.3em;
  position: absolute;
  left: 2em;
  color: white;
  border-bottom: 3px solid white;
}
/* line 49, ../sass/layout/_content-web.scss */
.content-web section > .wrapper-web {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 8.33333%;
  position: relative;
  float: left;
  width: 83.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  /* line 49, ../sass/layout/_content-web.scss */
  .content-web section > .wrapper-web {
    margin-left: 8.33333%;
  }
}
@media (min-width: 1200px) {
  /* line 49, ../sass/layout/_content-web.scss */
  .content-web section > .wrapper-web {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 992px) {
  /* line 49, ../sass/layout/_content-web.scss */
  .content-web section > .wrapper-web {
    margin-left: 8.33333%;
  }
}
@media (min-width: 992px) {
  /* line 49, ../sass/layout/_content-web.scss */
  .content-web section > .wrapper-web {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 768px) {
  /* line 49, ../sass/layout/_content-web.scss */
  .content-web section > .wrapper-web {
    margin-left: 8.33333%;
  }
}
@media (min-width: 768px) {
  /* line 49, ../sass/layout/_content-web.scss */
  .content-web section > .wrapper-web {
    float: left;
    width: 83.33333%;
  }
}
/* line 59, ../sass/layout/_content-web.scss */
.content-web section > .wrapper-web h2 {
  font-size: 1.1em;
  /*size all text */
  line-height: 2.1em;
  font-weight: bold;
}
/* line 64, ../sass/layout/_content-web.scss */
.content-web section > .wrapper-web h3 {
  font-size: 1.1em;
}
/* line 70, ../sass/layout/_content-web.scss */
.content-web .profile {
  height: 100%;
}
/* line 73, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web {
  padding-left: 0em;
  padding-top: 5em;
}
/* line 77, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > #draw-pc {
  margin-left: 8.33333%;
  position: relative;
  float: left;
  width: 83.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  /* line 77, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > #draw-pc {
    margin-left: 8.33333%;
  }
}
@media (min-width: 768px) {
  /* line 77, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > #draw-pc {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 992px) {
  /* line 77, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > #draw-pc {
    margin-left: 16.66667%;
  }
}
@media (min-width: 992px) {
  /* line 77, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > #draw-pc {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 1200px) {
  /* line 77, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > #draw-pc {
    margin-left: 8.33333%;
  }
}
@media (min-width: 1200px) {
  /* line 77, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > #draw-pc {
    float: left;
    width: 58.33333%;
  }
}
/* line 87, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .my-info {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding: 0em;
}
@media (min-width: 768px) {
  /* line 87, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .my-info {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 87, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .my-info {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 87, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .my-info {
    float: left;
    width: 33.33333%;
  }
}
@media (min-width: 1200px) {
  /* line 87, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .my-info {
    float: left !important;
    width: auto !important;
    padding: 0;
    text-align: left;
  }
}
/* line 100, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .my-info > h2:first-child {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}
/* line 105, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .my-info > h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
/* line 109, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .my-info > h2 > i {
  padding-right: 1em;
  color: #337ab7;
}
@media (min-width: 1650px) {
  /* line 115, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .my-info h2:first-child {
    font-size: 3em;
    margin: 0;
    padding: 0;
  }
  /* line 120, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .my-info h2 {
    font-size: 1.2em;
    margin-top: 1em;
  }
}
/* line 127, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .footer-profile {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 127, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 127, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 127, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile {
    float: left;
    width: 100%;
  }
}
/* line 135, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .footer-profile > h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}
@media (min-width: 1200px) {
  /* line 127, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile {
    margin-left: -10%;
  }
  /* line 142, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile h1 {
    margin-top: 1em;
    font-size: 2.2em;
  }
}
/* line 147, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .footer-profile .fotter-profile__img {
  width: 30px;
  height: 66px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}
/* line 155, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .footer-profile .fotter-profile__img > a > img {
  margin-top: -66px;
  width: 30px;
  transition: margin-top .2s;
}
/* line 160, ../sass/layout/_content-web.scss */
.content-web .profile > .wrapper-web > .footer-profile .fotter-profile__img > a > img:hover {
  margin-top: 0px;
  transition: margin-top .2s;
}
@media (min-width: 992px) {
  /* line 147, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile .fotter-profile__img {
    width: 55px;
    height: 121px;
  }
  /* line 171, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web > .footer-profile .fotter-profile__img a img {
    margin-top: -121px;
    width: 55px;
  }
}
@media (min-width: 1200px) {
  /* line 73, ../sass/layout/_content-web.scss */
  .content-web .profile > .wrapper-web {
    margin-top: 10em;
  }
}
/* line 192, ../sass/layout/_content-web.scss */
.content-web .education article {
  margin-top: 2.4em;
  border-bottom: 2px solid #337ab7;
  padding-bottom: 2.4em;
}
/* line 197, ../sass/layout/_content-web.scss */
.content-web .education article img {
  margin-right: 1.4em;
}
@media (min-width: 768px) {
  /* line 197, ../sass/layout/_content-web.scss */
  .content-web .education article img {
    float: left;
  }
}
/* line 205, ../sass/layout/_content-web.scss */
.content-web .education article .h3-web {
  float: left;
  margin: 0;
  padding-right: 1em;
  border-right: 1px solid #1e1e1e;
  margin-right: 1em;
}
/* line 213, ../sass/layout/_content-web.scss */
.content-web .education article .h3-year {
  margin: 0;
}
/* line 220, ../sass/layout/_content-web.scss */
.content-web .education article:first-child > img {
  width: 8em;
}
/* line 225, ../sass/layout/_content-web.scss */
.content-web .education article:nth-child(2) > img {
  width: 3.125em;
}
/* line 229, ../sass/layout/_content-web.scss */
.content-web .education article:last-child {
  border-bottom: none;
}
/* line 231, ../sass/layout/_content-web.scss */
.content-web .education article:last-child > img {
  width: 5.19em;
}
/* line 234, ../sass/layout/_content-web.scss */
.content-web .education article:last-child .h3-web {
  float: none;
  border-right: none;
}
/* line 243, ../sass/layout/_content-web.scss */
.content-web .experience article {
  margin-top: 2.4em;
  border-bottom: 2px solid #337ab7;
  padding-bottom: 2.4em;
}
/* line 247, ../sass/layout/_content-web.scss */
.content-web .experience article img {
  margin-right: 1.4em;
  float: left;
}
/* line 252, ../sass/layout/_content-web.scss */
.content-web .experience article h2 {
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #1e1e1e;
  padding-right: 1em;
  margin-right: 1em;
}
/* line 260, ../sass/layout/_content-web.scss */
.content-web .experience article .h3-web {
  margin: 0;
  padding: 0;
  line-height: 2.1em;
}
/* line 267, ../sass/layout/_content-web.scss */
.content-web .experience article:first-child {
  /*Design by art*/
}
/* line 268, ../sass/layout/_content-web.scss */
.content-web .experience article:first-child > img {
  width: 6em;
}
/* line 272, ../sass/layout/_content-web.scss */
.content-web .experience article:nth-child(2) {
  /*Biago Media*/
}
/* line 273, ../sass/layout/_content-web.scss */
.content-web .experience article:nth-child(2) > img {
  width: 8em;
}
/* line 277, ../sass/layout/_content-web.scss */
.content-web .experience article:nth-child(3) {
  /*Police Forces*/
}
/* line 278, ../sass/layout/_content-web.scss */
.content-web .experience article:nth-child(3) > img {
  width: 3.43em;
  margin-top: -1em;
}
/* line 283, ../sass/layout/_content-web.scss */
.content-web .experience article:nth-child(4) {
  /*Lifeguard*/
}
/* line 284, ../sass/layout/_content-web.scss */
.content-web .experience article:nth-child(4) > img {
  width: 3.62em;
}
/* line 288, ../sass/layout/_content-web.scss */
.content-web .experience article:last-child {
  /*Military Navy*/
  border-bottom: none;
}
/* line 292, ../sass/layout/_content-web.scss */
.content-web .experience article:last-child > img {
  width: 3.62em;
}
/* line 299, ../sass/layout/_content-web.scss */
.content-web .projects {
  margin: 0;
}
/* line 305, ../sass/layout/_content-web.scss */
.content-web .projects article {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 1em;
  width: 100%;
  /*background-color: red;*/
}
@media (min-width: 768px) {
  /* line 305, ../sass/layout/_content-web.scss */
  .content-web .projects article {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 305, ../sass/layout/_content-web.scss */
  .content-web .projects article {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 305, ../sass/layout/_content-web.scss */
  .content-web .projects article {
    float: left;
    width: 25%;
  }
}
/* line 317, ../sass/layout/_content-web.scss */
.content-web .projects article div[class^="project-"] {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0);
}
/* line 320, ../sass/layout/_content-web.scss */
.content-web .projects article div[class^="project-"] div {
  width: 100%;
  height: 20em;
  background-size: cover;
}
/* line 329, ../sass/layout/_content-web.scss */
.content-web .projects article .project-1 div {
  background-image: url("../img/ferdimar.png");
}
/* line 334, ../sass/layout/_content-web.scss */
.content-web .projects article .project-2 > div {
  background-image: url("../img/di-stone.png");
}
/* line 339, ../sass/layout/_content-web.scss */
.content-web .projects article .project-3 > div {
  background-image: url("../img/dbyart.png");
}
/* line 344, ../sass/layout/_content-web.scss */
.content-web .projects article .project-4 > div {
  background-image: url("../img/minorsa.png");
}
